
.icoButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #459DF5;
}

.ico {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.colored  > .ico {
    width: 20px;
    height: 20px;
}

.colored {
    padding: 8px 16px;
    margin-left: 10px;
    border-radius: 4px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
}


.mainColor {
    composes: colored;
    background: #459DF5;
}

.attentionColor {
    composes: colored;
    background: #F53152;
}

.toggable {
    cursor: pointer;
}