.icoButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: var(--button-text-color);
    white-space: nowrap;
}

.ico {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    fill: var(--button-text-color);
    stroke: var(--button-text-color);
}

.colored  > .ico {
    width: 20px;
    height: 20px;
    fill: var(--colored-button-text-color);
    stroke: var(--colored-button-text-color);
}

.icoButton.colored {
    padding: 8px 16px;
    margin-left: 10px;
    border-radius: 4px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: var(--colored-button-text-color);
}


.mainColor {
    composes: colored;
    background: var(--main-color);
}

.attentionColor {
    composes: colored;
    background: var(--attention-color);
}

.toggable {
    cursor: pointer;
}

.completedColor {
    fill: var(--completed-status-color);
    stroke: var(--completed-status-color);
    color: var(--completed-status-color);
}

.delayedColor, .newColor{
    fill: var(--delayed-status-ico-color);
    stroke: var(--delayed-status-ico-color);
    color: var(--delayed-status-text-color);
}

.calcColor {
    fill: var(--main-color);
    stroke: var(--main-color);
    color: black;
}

.canceledColor {
    color: var(--canceled-status-color);
}