
.icoButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Ubuntu;
    font-size: 13px;
    line-height: 16px;
    color: #459DF5;
}

.icoButton__ico {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.ico-button_colored  > .icoButton__ico {
    width: 20px;
    height: 20px;
}


.ico-button_colored {
    padding: 8px 16px;
    margin-left: 10px;
    border-radius: 4px;
    font-family: Ubuntu;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
}


.ico-button_blueBack {
    background: #459DF5;
}

.ico-button_redBack {
    background: #F53152;
}