
.table__row_data {
    padding: 0px 8px;
    border-bottom: 1px solid #EBF0F5;

}

.table__row_footer {
    background: #EBF0F5;
}

.table__row_footer {
    justify-content:space-between;
}

.table__row_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 8px;
    height: 40px;
    background: #459DF5;
}

.table__row {
    display: flex;
    flex-direction: row;
    align-items: center;
}