
.inputRangeBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 0px;
    margin: 0px 15px;
}

.inputRangeBlock__inputs {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.inputRangeBlock__inputFrom, .inputRangeBlock__inputTo {
    width: 100%;
    height: 32px;
    padding: 4px 4px 4px 8px;
}

.inputRangeBlock__inputTo {
    margin-left: 5px;
}