
.panel {
    display: flex;
    flex-direction: column;
    padding: 32px 48px 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px;
}

.title {
    font-family: Ubuntu, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: -0.2px;
}

.filters {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

}

.fastFilterBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

}

.buttonInput {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


