
.panel {
    display: flex;
    flex-direction: column;
    padding: 32px 48px 0px;
}

.panel__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px;
}

.panel__title {
    font-family: Ubuntu, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: -0.2px;
}

.panel__filters {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

}

.panel__fastFilterBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

}


.panel__extendedFilterBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    background: #EBF0F5;
    border-radius: 8px;
}

