.pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.paginationItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 4px 8px;
    border-radius: 4px;
}

.paginationItem:hover {
    background: #459DF5;
}

.paginationItem:hover > .paginationItemText {
    color: #FFFFFF;
}

.paginationItemText {
    font-family: Ubuntu;
    font-size: 13px;
    line-height: 16px;
    color: #459DF5;
}