.notificationBox {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 3;
    top: 0.5rem;
    right: 0.5rem;
    width: 25rem;
    background: beige;
}

.notificationBox_header {
    display: flex;
    justify-content: space-between;
}